.main {
    padding-top: 100px;
    padding-bottom: 100px;
}
.report {
    box-sizing: border-box;
    border-top-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

#title {
    margin-bottom: 50px;
}