/*!*-------------*/
/* 	Chat page*/
/*-------------*!*/


.chatPage {
  display: grid;
  width: 100%;
  height: 100vh;
  background: #d2b48c;
  margin-top: 100px;
  margin-bottom: 50px;

  grid-template-columns: 300px auto;
  grid-template-rows: 60px auto 60px;
  grid-row-gap: 10px;
  grid-area: 1 / 1 / span 3 / span 3;
}

.user-display{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10%;
  height: 10%;
  grid-area: 1 / 1;
}

.topic-display{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 10%;
  height: 10%;
  border-radius: 30px;
  grid-area: 2 / 1;
}

.message-display{
  text-align: left;
  border-radius: 30px;
  grid-area: 1 / 2 / span 2 / span 2;
}

.message-form{
  text-align: left;
  border-radius: 30px;
  grid-area: 3 / 2 / span 1 / span 2;
}

#message-heading {
  padding-top: 50px;
  padding-bottom: 0;
  text-align: center;
  margin: 0;
}

/*.scrollable {*/
/*  position: relative;*/
/*  overflow-y: scroll;*/
/*  -webkit-overflow-scrolling: touch;*/
/*}*/

/*.chatList {*/
/*  background: grey;*/
/*  grid-row-start: 1;*/
/*  grid-row-end: span 3;*/
/*  padding: 0;*/
/*}*/

/*.chatBox {*/
/*  background: lightgrey;*/
/*  grid-row-start: 1;*/
/*  grid-row-end: span 3;*/
/*}*/

/*.toolbar {*/
/*  display: inline;*/
/*  position: sticky;*/
/*  font-size: 10px;*/
/*  top: 0;*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
/*.toolbar-title {*/
/*  text-align: center;*/
/*}*/

/*!*.footer {*!*/
/*!*  bottom: 0;*!*/
/*!*  width: 100%;*!*/
/*!*}*!*/
/*
.toolbar {
    display: flex;
    align-items: center;
  
    background-color: white;
    font-weight: 500;
    border-bottom: 1px solid #eeeef1;
  
    position: sticky;
    top: 0px;
  }
  */